@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body, html {
  height: 100%
}

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input{
  font-family: 'Playfair Display', serif;
  accent-color: #00af87;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

ul {
  list-style: none;
  padding-left: 0px;
}

a {
  text-decoration: none;
  color: black
}

button {
  font-family: 'Playfair Display', serif;
}